:root {
    --blue: #1e90ff;
    --white: #ffffff; 
    --gray: #f5f5f5a9;
  }

body{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
    opacity:0.7;
}
.website{
    display: flex;
    flex-flow: wrap;
    justify-content:flex-start;
    padding: 10px;
}
.header-top{
    background-color:#F0F0F0;
}
.header-top .social-icon{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    padding:10px;
}
.social-icon>div img{
    width:25px;
    margin-right:10px;
}
.navbar-brand img{
    width:200px;
}
.navbar-collapse{
    justify-content: flex-end;
}
.nav-link{
    color:#222 !important;
}
.nav-item{
    padding:8px 10px;
}
.nav-link{
    padding:10px;
}
.nav-item>input{
    border:none;
    border-bottom:1px solid;
}
.nav-item .button img{
 width:28px;
 position:relative;
 right:27px;
}

.nav-item:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,10,165,1) 0%, rgba(128,0,255,1) 100%);
    color:#fff !important;
    border-radius: 5px;
}
.nav-link:hover{
    color:#fff !important;
}
.nav-item1:hover{
    background:transparent !important;
}